#root {
  max-width: 1280px;
  margin: 0 auto;
    
}

.grid-container {
  display: grid; 
  grid-template-columns: 0.6fr 1fr; 
  grid-gap: 250px; 
}

.grid-item {
  padding: 10px; 
}


.input-container {
  position: relative;
  margin-bottom: 27px;
}

.input-container input {
  padding-right: 30px; 
}

.input-container .icon {
  position: absolute;
  top: 50%;
  right: -130px; 
  transform: translateY(-40%);
  font-size: 20px; 
  color: #999; 
}

.place-holder{
  position: relative;
  padding: 290px 50px ;
  background-color: #00215E;
  border-radius: 10px;
}

.nome-rebook{
  position: absolute;
  top: 30%;
  right: 5%; 
  transform: translateY(-40%);
}

.detalhe{
  position: absolute;
  top: 9%;
  right: 96%;
  transform: translateY(-40%);
  padding: 5px 25px;
  border-radius: 50px;
  background-color: #FFC55A;
  
}

.erro{
  color: #83110c;
  font-size: 0.8rem;
  margin-left: 5px;
}

.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 20px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.logar-button{
  display: flex;
  justify-content: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
